{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="py-5 text-center">
        <span class="fs-3 fw-semibold">Project Management Platform</span><br>
        <span class="fs-5"></span><br>
        <span class="fs-5">For all Design, Engineering</span><br>
        <span class="fs-5">and Technical Services Providers.</span><br>
        <span class="fs-5"></span><br>
        <span class="fs-6">PMP gives you the clear view, the time, the focus and the comfort to create.</span><br>
        <span class="fs-6">A chance to engage all your talents in the design process.</span><br>
    </div>
{% endblock %}